@model DataViewModel
@{
    Layout = "_SideLayout";
}
<section id="first-section">
    <div class="container-fluid side-content">
        <div class="row">
            <div class="col-md-4">
                <div id="fakulteImg"></div>
            </div>
            <div class="col-md-8">
                <h4>@Model.Enstitu.EnsitutuAd</h4>
                <p>@Model.Enstitu.EnsitutuAciklama</p>
                
                <h5>İletişim Bilgileri</h5>
                <ul>
                    <li>@Model.Enstitu.EnsitutuAdres</li>
                    <li>@Model.Enstitu.EnsitutuMail</li>
                    <li>@Model.Enstitu.EnsitutuTel</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay"><img src="~/imgs/campus-bg.jpg"></div>
</section>